@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  src: url('./Fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
  font-family: 'ProximaNova';
  font-style: italic;
  font-weight: 400;
  src: url('./Fonts/ProximaNova-RegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'ProximaNova';
  font-style: bold;
  font-weight: 800;
  src: url('./Fonts/ProximaNova-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'ProximaNova';
  font-style: italic;
  font-weight: 800;
  src: url('./Fonts/ProximaNova-SemiboldItalic.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'ProximaNova';
}
